html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mapSVG {
    width: 100%;
    height: 100%;
}

svg path:hover 
{
    fill: blue;
}

.wrapper {
    top: 50vh;
    left: 2%;
    width: auto;
    min-width: 20vw;
    max-width: 40vw;
    height: auto;
    max-height: 40vh;
    display: flex;
    flex-direction: column; 
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden; 
    padding-bottom: 30px;
    background: url('gifs/sun.gif') no-repeat center center fixed;
    background-size: cover;
    color: #ffe5dc;
}

.wrapper header {
    font-size: 23px;
    font-weight: 500;
    border-bottom: 1px solid;
    padding: 10px;
    box-sizing: border-box; 
}

.wrapper header:hover {
    cursor: move;
}

.wrapper header.active {
    cursor: move;
    user-select: none; 
}

#drag-me{
    font-size: 19px;
}

.wrapper .content {
    display: flex;
    flex-direction: column; 
    flex: 1; 
    overflow: auto; 
    padding: 0 10px;
    box-sizing: border-box; 
}

.flex-container {
    display: flex;
    flex-direction: row; 
    width: 100%; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
    
}

.c1 {
    flex: 1.2; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    box-sizing: border-box;
    border: 2px solid;
    border-top: 0px solid;
}
.c2{
    flex: 1;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    box-sizing: border-box; 
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-top: 0px solid;
}

.c1 {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}


.nested-table {
    width: 100%;
    height: auto; 
    border-collapse: collapse; 
}

#icon {
    vertical-align: top;
    text-align: center;
}

#icon img {
    width: 180px; 
    height: 160px; 
}

#icon td {
    padding: 0; 
    margin:0
}

.flex-row2 {
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px; 
    padding-bottom:0px;
    border: 2px solid;
}

#time{
    text-align: center;
    font-size:30px;
    margin:0;
    margin-top: 5px;
    font-family: bold;
}

#temp{
    text-align: center;
    font-size: 25px;
    margin: 5px;
}
#weather-desc {
    text-align: center;
    font-size: 15px;
    margin: 5px;
    margin-bottom: 10px;
}

#loading-overlay {
    display: none; /* hidden by default */
    position: relative;
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}

#loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-bottom: 0;
}

#loading img {
    width: 60px;
    height: 60px;
}

